---
import Layout from "../../layout/Layout.astro";
import QuestionForm from "../../components/QuestionForm.svelte";
import QuestionsListPaginated from "../../components/QuestionsListPaginated.svelte";

const id = Astro.params.courseId;

const response = await fetch(`http://qa-api:7777/courses/${id}`);
const course = await response.json();
---

<Layout>
    <h2 class="text-center text-3xl font-bold">{course.name}</h2>
    <QuestionForm {course} client:load />
    <QuestionsListPaginated {course} client:load />
</Layout>
