---
import Header from "./Header.svelte";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script
      src="https://kit.fontawesome.com/1d46db14be.js"
      crossorigin="anonymous"></script>
    <title>Questions and answers</title>
  </head>
  <body>
    <Header client:only={"svelte"} />
    <div class="container mx-auto">
      <slot />
    </div>
  </body>
</html>
